#id001{
    color: hsla(135, 100%, 50%, 0.808);
    font-size: 60px;
    text-align: center;
}
#pre1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:underline;
    font-size: 15px;
    text-align: center;
}